# Server
PORT=5001
NODE_ENV=development

# Auth
JWT_SECRET="gs#secret"

# Database (Prisma - PosgrSQL)
DATABASE_URL="my_prisma_connection_url"

# Email (Gmail SMTP)
GMAIL_USER="example_email@gmail.com"
GMAIL_APP_PASSWORD="my_example_password"

# Frontend
CLIENT_URL="http://localhost:5173"

# AI Agent
GEMINI_API_KEY="my_example_gemini_api_key"
