# Server
PORT=5000
NODE_ENV=development

# Auth
JWT_SECRET="gs#secret"

# Database (MongoDB)
MONGODB_URI="my_mongo_uri"

# Email (Gmail SMTP)
GMAIL_USER="example_email@gmail.com"
GMAIL_APP_PASSWORD="my_example_password"

# Frontend
CLIENT_URL="http://localhost:5173"
