name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  backend:
    name: Backend Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Backend placeholder
        run: echo "placeholder - backend lint/build/test"

      - name: Backend lint
        run: echo "placeholder - backend lint"

        # INTENTIONAL FAILURE HERE
        # For Failure and Rollback Simulation using `exit 1` to trigger failed test
      - name: Backend test
        run: |
          echo "Simulating a test failure for CI demonstration..."
          exit 1 

      - name: Backend test
        run: |
          echo "Simulating a test failure for CI demonstration..."
          exit 1

      - name: Backend build
        run: echo "placeholder - backend build"

  frontend:
    name: Frontend Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Ensures Node.js is setup for the tests"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Frontend placeholder
        run: echo "placeholder - frontend lint/build/test"

      - name: Frontend lint
        run: echo "placeholder - frontend lint"

      - name: Frontend test
        run: echo "placeholder - frontend test"

      - name: Frontend build
        run: echo "placeholder - frontend build"